body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

li {
  margin-bottom: 8px;
}

h1 {
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 450px;
}

input {
  width: 97%;
  padding: 5px;
  font-size: 1em;
  border: 2px solid #000000;
  border-radius: 5px;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}

#addclass {
  width: 45%;
}

#addscore {
  width: 45%;
  margin-left: 15px;
}

#addstudent {
  width: 48%;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #959595;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#rmline {
  width: 48%;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #959595;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 13px;
}

#addstudent:hover,
#rmline:hover {
  background-color: #565656;
}
